
@mixin btn-principal {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 50px;
    box-shadow: 3px 6px 20px #c0c0c0;
    padding: 15px 20px;
    &:hover{
        box-shadow: 3px 7px 8px darken(#c0c0c0, 8%);
        background: linear-gradient(lighten($secondary-color,10%), lighten($primary-color,10%));
    } 
}

@mixin iconeModif {
    cursor: pointer;
    color: #7e7e7e;
    font-size: 25px;
    display: block;
}


@mixin flexbox ($justify: center, $items: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
    flex-direction: $direction;
}

@mixin spinner-food ($color, $delay, $index) {
    font-size: 80px;
    color: $color;
    animation-delay: $delay;
    z-index: $index;
}