// ************ANIMATION CATEGORIES**************//

.choix-menu--animationfadein1{
    animation: fadein 1s ease-in-out both;
    transform-origin: bottom;
}

.choix-menu--animationfadein2{
    animation: fadein 1s 400ms ease-in-out both;
    transform-origin: bottom;
}

.choix-menu--animationfadein3{
    animation: fadein 1s 400ms ease-in-out both;
    transform-origin: bottom;
}

@keyframes fadein {
    from{
        transform: translateY(10px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}

// *************ANIMATION COEUR**************//
#iconeCoeur__input{
    &:checked[type="checkbox"]{   
        & + .iconeCoeur__plein{
        animation: remplissageCoeur 300ms ease-in-out both;
        }
    }
    @media screen and (min-width:992px) {
        &:hover + .iconeCoeur__plein{
            animation: remplissageCoeur 300ms ease-in-out both;
        }
    }
}

.iconeCoeur__plein{
    transform: scale(0);
}


@keyframes remplissageCoeur{
    from{
        transform: scale(0);
        transition: all 300ms ease-in-out;
    }
    to{
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top, $secondary-color, $primary-color);
        -webkit-background-image: linear-gradient(to top, $secondary-color, $primary-color);
        transform: scale(1);
        transition: all 300ms ease-in-out;
    }
    
}


//************ Animation du check ************//

// AFFICHAGE DU BACKGROUND DE L'ICONE CHECK
#choix-menu__input:checked[type="checkbox"]{
    &~.alignement-prix {
        & > .iconecheck{
            animation: backgroundcheck 400ms ease-in-out both;
        }
    }
}

#choix-menu__input[type="checkbox"]{
    &~.alignement-prix {
        & > .iconecheck{
            animation: backgroundcheck-inverse 400ms ease-in-out both;
        }
    }
}

@keyframes backgroundcheck {
    from{
        transform: scaleX(0);
        transform-origin: right;
        width: 0px;
    }
    to{
        transform: scaleX(1);
        transform-origin: right;
        width: 70px;
        margin-left: 10px;
        opacity: 1;
    }
    
}

// @keyframes backgroundcheck-inverse {
//     from{
//         transform: scaleX(1);
//         transform-origin: right;
//         width: 70px;
//         margin-left: 10px;
//         opacity: 1;
//     }
//     to{
//         transform: scaleX(0);
//         transform-origin: right;
//         width: 0px;
//     }
    
// }


// ROTATION DE L'ICONE CHECK
#choix-menu__input:checked[type="checkbox"]{
    &~.alignement-prix{
        & > .iconecheck{
            & > .iconecheck--rotate{
                animation: rotatecheck 400ms ease-in-out both;
            }
        }
    }
}

#choix-menu__input[type="checkbox"]{
    &~.alignement-prix{
        & > .iconecheck{
            & > .iconecheck--rotate{
                animation: rotatecheck-inverse 400ms ease-in-out both;
            }
        }
    }
}

@keyframes rotatecheck {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(-1turn);
    }
}

@keyframes rotatecheck-inverse {
    from{
        transform: rotate(-1turn);
    }
    to{
        transform: rotate(0turn);
    }
}

@media screen and (min-width:992px) {

    // AFFICHAGE DU BACKGROUND DE L'ICONE CHECK
    #choix-menu__input:hover[type="checkbox"]{
        &~.alignement-prix {
            & > .iconecheck{
                animation: backgroundcheck 400ms ease-in-out forwards;
            }
        }
    }

    #choix-menu__input[type="checkbox"]{
        &~.alignement-prix {
            & > .iconecheck{
                animation: backgroundcheck-inverse 400ms ease-in-out both;
            }
        }
    }

    // ROTATION DE L'ICONE CHECK
    #choix-menu__input:hover[type="checkbox"]{
        &~.alignement-prix{
            & > .iconecheck{
                & > .iconecheck--rotate{
                    animation: rotatecheck 400ms ease-in-out forwards;
                }
            }
        }
    }

    #choix-menu__input[type="checkbox"]{
        &~.alignement-prix{
            & > .iconecheck{
                & > .iconecheck--rotate{
                    animation: rotatecheck-inverse 400ms ease-in-out both;
                }
            }
        }
    }
}

// Animation loading page
.scaleLoading1{
    animation: scaleLoading 1800ms ease-in-out both;
}

.scaleLoading2{
    animation: scaleLoading 2000ms 100ms ease-in-out both;
}

.scaleLoading3{
    animation: scaleLoading 2200ms 200ms ease-in-out both;
}

.scaleLoading4{
    animation: scaleLoading 2400ms 300ms ease-in-out both;
}

.scaleLoading5{
    animation: scaleLoading 2600ms 400ms ease-in-out both;
}


@keyframes scaleLoading{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    70%{
        transform: scale(1) rotate(1turn);
        opacity: 1;

    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

// Affichage header
.headerAccueil{
    animation: fadeinheader 1s 2.3s ease-in-out both;
}

@keyframes fadeinheader {

    0% {
        opacity: 0;
    }


    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
    
}

// Affichage de la page après le loading

.mainAccueil{
    animation: fadeinCorpsPage 1s 2.3s ease-in-out both;
}


@keyframes fadeinCorpsPage {

    0% {
        transform: translateY(70%);
        opacity: 0;
    }


    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}