// ************ANIMATION CATEGORIES**************//

.choix-menu--animationfadein1{
    animation: fadein 1s ease-in-out both;
    transform-origin: bottom;
}

.choix-menu--animationfadein2{
    animation: fadein 1s 400ms ease-in-out both;
    transform-origin: bottom;
}

.choix-menu--animationfadein3{
    animation: fadein 1s 400ms ease-in-out both;
    transform-origin: bottom;
}

@keyframes fadein {
    from{
        transform: translateY(10px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}

// *************ANIMATION COEUR**************//
#iconeCoeur__input{
    &:checked[type="checkbox"]{   
        & + .iconeCoeur__plein{
        animation: remplissageCoeur 300ms ease-in-out both;
        }
    }
    @media screen and (min-width:992px) {
        &:hover + .iconeCoeur__plein{
            animation: remplissageCoeur 300ms ease-in-out both;
        }
    }
}

.iconeCoeur__plein{
    transform: scale(0);
}


@keyframes remplissageCoeur{
    from{
        transform: scale(0);
        transition: all 300ms ease-in-out;
    }
    to{
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top, $secondary-color, $primary-color);
        -webkit-background-image: linear-gradient(to top, $secondary-color, $primary-color);
        transform: scale(1);
        transition: all 300ms ease-in-out;
    }
    
}


//************ Animation du check ************//

// AFFICHAGE DU BACKGROUND DE L'ICONE CHECK
#choix-menu__input:checked[type="checkbox"]{
    &~.alignement-prix {
        & > .iconecheck{
            animation: backgroundcheck 400ms ease-in-out both;
        }
    }
}

#choix-menu__input[type="checkbox"]{
    &~.alignement-prix {
        & > .iconecheck{
            animation: backgroundcheck-inverse 400ms ease-in-out both;
        }
    }
}

@keyframes backgroundcheck {
    from{
        transform: scaleX(0);
        transform-origin: right;
        width: 0px;
    }
    to{
        transform: scaleX(1);
        transform-origin: right;
        width: 70px;
        margin-left: 10px;
        opacity: 1;
    }
    
}

@keyframes backgroundcheck-inverse {
    from{
        transform: scaleX(1);
        transform-origin: right;
        width: 70px;
        opacity: 1;
    }
    to{
        transform: scaleX(0);
        transform-origin: right;
        width: 0px;
    }
    
}


// ROTATION DE L'ICONE CHECK
#choix-menu__input:checked[type="checkbox"]{
    &~.alignement-prix{
        & > .iconecheck{
            & > .iconecheck--rotate{
                animation: rotatecheck 400ms ease-in-out both;
            }
        }
    }
}

#choix-menu__input[type="checkbox"]{
    &~.alignement-prix{
        & > .iconecheck{
            & > .iconecheck--rotate{
                animation: rotatecheck-inverse 400ms ease-in-out both;
            }
        }
    }
}

@keyframes rotatecheck {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(-1turn);
    }
}

@keyframes rotatecheck-inverse {
    from{
        transform: rotate(-1turn);
    }
    to{
        transform: rotate(0turn);
    }
}

@media screen and (min-width:992px) {

    // AFFICHAGE DU BACKGROUND DE L'ICONE CHECK
    #choix-menu__input:hover[type="checkbox"]{
        &~.alignement-prix {
            & > .iconecheck{
                animation: backgroundcheck 400ms ease-in-out forwards;
            }
        }
    }

    #choix-menu__input[type="checkbox"]{
        &~.alignement-prix {
            & > .iconecheck{
                animation: backgroundcheck-inverse 400ms ease-in-out both;
            }
        }
    }

    // ROTATION DE L'ICONE CHECK
    #choix-menu__input:hover[type="checkbox"]{
        &~.alignement-prix{
            & > .iconecheck{
                & > .iconecheck--rotate{
                    animation: rotatecheck 400ms ease-in-out forwards;
                }
            }
        }
    }

    #choix-menu__input[type="checkbox"]{
        &~.alignement-prix{
            & > .iconecheck{
                & > .iconecheck--rotate{
                    animation: rotatecheck-inverse 400ms ease-in-out both;
                }
            }
        }
    }
}

// Animation loading page

@keyframes spinner {
    
    0%, 100% {
    transform:rotate(-180deg);
    opacity:0;
  }
  
  20% {
    transform: rotate(0);
    opacity:1;
  }
  
 
  30% {
    transform: rotate(150deg);
    opacity:0;
  }
}

@keyframes spinner-background {
  
  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.spinner {
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include flexbox;
    background-color: $background-color-gris-clair;
    animation: spinner-background 3.2s ease-in-out both; // Arrière-plan disparaît en fondu;

    &__food {

        position: absolute;
        animation: spinner 2s ease-out 200ms both;

        &--1 {
            @include spinner-food ($primary-color, 700ms, 3);

        }

        &--2 {
            @include spinner-food ($secondary-color, 1.2s, 2);
        }

        &--3 {
            @include spinner-food ($tertiary-color, 1.7s, 1);
        }
    }
}

// Affichage header après loading
.headerAccueil{
    animation: fadeinheader 1s 2.3s ease-in-out both;
}

@keyframes fadeinheader {

    0% {
        opacity: 0;
    }


    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
    
}

// Affichage de la page après le loading

.mainAccueil{
    animation: fadeinCorpsPage 1s 2.3s ease-in-out both;
}


@keyframes fadeinCorpsPage {

    0% {
        transform: translateY(70%);
        opacity: 0;
    }


    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}
