// **********HEADER PAGE MENU*************//
#header-page-restau{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 20px 25px;
    background-color: white;
    box-shadow: 5px 0px 8px #d4d4d4;
    width: 100%;
    position: fixed;
    z-index: 999;
    & img{
        display: block;
        width: 150px;
        margin: auto;
    }
    & div:nth-child(2){
        flex: auto;
    }
    & i{
        font-size: 20px;
        color: rgb(104, 104, 104);
    }
}

// **********IMAGE PRINCIPALE*************//

#imagePrincipale{
    width: 100%;
    height: 270px;
    object-fit: cover;
    position: fixed;
}

// **********TITRE DU RESTAU*************//
.titre-restau{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & i{
        @include iconeModif;
    }
    & .iconeCoeur{
        display: flex;
        &__vide{
            position: absolute;
        }
    }
}


// **********LES MENUS*************//
.menu__categories{
    margin-bottom: 50px ;
}

.menu{
    overflow: hidden;
    position: relative;
    top: 220px;
    padding: 25px 20px;
    background-color: $background-color-gris-clair;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-bottom: 220px; //compensement de la marge top
    & h1{
        font-family: $font-title;
        font-size: 25px;
        margin-top: 10px;  
    }
    & h2{
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 17px;
        display: table;
        padding-bottom: 5px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 60%;
            bottom: 0;
            left: 0;
            border-bottom: 2px solid $tertiary-color;
        }
    }
}

.choix-menu{
    position: relative;
    overflow: hidden;
    display: flex;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #d1d1d1;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: flex-end;
    &__description{
        padding: 10px;
        flex-grow: 1;
        overflow: hidden;
        & h3{
            margin: 0px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        & p{
            margin: 0px;
            margin-top: 6px;
            font-weight: lighter;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    & .prix{
        margin: 0px 10px 8px 20px;
    }
}

.choix-menu__input{
    cursor: pointer;
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    z-index: 99;
    opacity: 0;
}

.iconeCoeur__input{
    cursor: pointer;
    position:absolute;
    z-index: 99;
    width: 25px;
    height: 25px;
    opacity: 0;
}

.iconecheck{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    padding: 10px 10px;
    height: 66px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 0px;
    opacity: 0;
    & p{
        border-radius: 50px;
        background-color: white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .fa-check{
        font-size: 18px;
        color: $tertiary-color;
    }
}

.alignement-prix{
    display: flex;
    align-items: flex-end;
}

// **********LE BOUTON COMMANDER*************//
.btn-principal{
    @include btn-principal;
    padding-left:  50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

// **RESPONSIVE MODE TABLETTE**********//
//************************************//
//***********************************//

@media screen and (min-width:#{$width-tablette}){
    // **********LES MENUS*************//
    .menu-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu__categories{
        width: 47%;
        margin: 0px 10px;
        & .choix-menu{
            width: 100%;
        }
    }
     
}

// ***RESPONSIVE MODE DESKTOP**********//
//************************************//
//***********************************//

@media screen and (min-width:#{$width-desktop}){ //POUR L'ALIGNEMENT DES ELEMENTS DE LA PAGE MENU
    .menu__categories{
        width: 31%;
    }
}